* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Electrolize", sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 4px 0;
  background-color: #80BC00;
}
.header a {
  font-size: 20px;
  color: white;
}

main {
  width: 100%;
  margin: 0 auto;
}

.window {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

.login {
  overflow: hidden;
  height: 470px;
  width: 500px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 100px 10px;
}

.block-1 {
  padding: 35px 55px 35px 55px;
  background-color: #80BC00;
  color: white;
  font-size: 30px;
  text-align: center;
}

.block-2 {
  padding: 35px 55px 35px 55px;
}
.block-2 .txt_field {
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
  position: relative;
}
.block-2 .txt_field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.block-2 .txt_field label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.block-2 .txt_field span::before {
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0;
  height: 2px;
  background: #80BC00;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.block-2 .txt_field input:focus ~ label,
.block-2 .txt_field input:valid ~ label {
  top: -5px;
  color: #80BC00;
}
.block-2 .txt_field input:focus ~ span::before,
.block-2 .txt_field input:valid ~ span::before {
  width: 100%;
}

.block-3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.block-3 button {
  background-color: #80BC00;
  width: 100%;
  color: white;
  padding: 0 20px;
  height: 50px;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
}
.block-3 span {
  margin: 15px auto 0 auto;
  color: #80BC00;
  font-size: 15px;
  line-height: 1.4;
  text-align: center;
}