* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: "Electrolize", sans-serif;
}

body {
  max-width: 1100px;
  margin: 0 auto;
  background: #F6F6F6;
}

main {
  padding-left: 1em;
  padding-right: 1em;
}

a, i, button {
  cursor: pointer;
}

a:hover {
  color: cornflowerblue;
}

.fa-times {
  color: red;
}

.fa-check {
  color: #80BC00;
}

.input {
  padding-left: 5px;
  width: 100%;
  height: 30px;
  border-radius: 5px;
}
.input ::-webkit-input-placeholder {
  padding: 2px;
}
.input ::-moz-placeholder {
  padding: 2px;
}
.input :-ms-input-placeholder {
  padding: 2px;
}
.input ::-ms-input-placeholder {
  padding: 2px;
}
.input ::placeholder {
  padding: 2px;
}

.small-size {
  width: 25%;
}

.middle-size {
  width: 40%;
}

.textarea {
  width: 100%;
  padding-left: 5px;
  padding-top: 5px;
  height: 150px;
  border-radius: 5px;
}

.select {
  width: 25%;
  padding-left: 5px;
  height: 30px;
  border-radius: 5px;
}

.border {
  border: 1px solid #80BC00;
}

._error {
  border: 1px solid red;
}

.big-margin {
  margin: 40px 0 40px 0;
}

.middle-margin {
  margin: 20px 0 20px 0;
}

.small-margin {
  margin: 8px 0 8px 0;
}

.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 45px;
  max-width: 100%;
}
.main-header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-header_left h1 {
  margin-left: 10px;
}
.main-header_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main-header_right * {
  margin-right: 5px;
}
.main-header_right h3 {
  margin-right: 15px;
}
.main-header_right img {
  cursor: pointer;
}
.main-header_right span {
  color: #80BC00;
  font-size: 22px;
}
.main-header_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
.main-header_links a {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.5em;
  text-align: center;
  border-right: 1px solid #80BC00;
}
.main-header_links a:hover {
  color: #80BC00;
}
.main-header_links a:visited {
  color: #80BC00;
}
.main-header_links .last-element {
  border: none;
}

.green-hr {
  border: none;
  color: #80BC00;
  background-color: #80BC00;
  height: 1px;
}

.grid-menu {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 30% 2em 30% 2em 30%;
  grid-template-columns: repeat(3, 30%);
  grid-auto-rows: 150px;
  grid-column-gap: 2em;
  grid-row-gap: 1em;
}

.grid-element {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1em;
  background-color: #fff;
  border-radius: 20px;
}
.grid-element * {
  margin: 2px 0 2px 0;
}

.cursor-pointer {
  cursor: pointer;
}

.grid-element-new {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  padding: 1em;
  background-color: #fff;
  border-radius: 20px;
}
.grid-element-new * {
  margin: 0 auto 0 auto;
}

.grid-description-text {
  color: #6C6C6C;
}

.grid-widget-link {
  position: absolute;
  bottom: 1em;
  right: 1em;
  color: cornflowerblue;
  text-decoration: underline;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.button {
  height: 40px;
  font-size: 18px;
  padding: 5px 35px 5px 35px;
  background-color: #80BC00;
  color: #fff;
  border: none;
  border-radius: 15px;
  margin: 8px;
}
.button_red {
  background-color: red;
}

.secondary-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  max-width: 100%;
}
.secondary-header h1 {
  margin-left: 10px;
}

.widget-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.faq {
  margin-bottom: 35px;
  width: 100%;
  margin-right: 25px;
}
.faq_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 4px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #D1D1D1;
  border-bottom: 1px solid #D1D1D1;
}
.faq_title_img {
  cursor: pointer;
}
.faq_answer {
  border-top: 1px solid #D1D1D1;
  border-bottom: 1px solid #D1D1D1;
}
.faq_answer_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.faq_answer_title a {
  font-family: "Electrolize", sans-serif;
  font-size: 20px;
}
.faq_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.faq_edit {
  border-top: 1px solid #D1D1D1;
  border-bottom: 1px solid #D1D1D1;
  padding-top: 7px;
  padding-bottom: 7px;
}
.faq_edit-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.faq_edit-title i {
  margin-left: 10px;
}
.faq_edit-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}
.faq_edit-name h3, .faq_edit-name img {
  cursor: pointer;
  line-height: 2em;
}
.faq_edit-name h3 {
  width: 100%;
  padding: 2px;
  border: 1px solid #80BC00;
  border-radius: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.faq_edit-name h3:hover {
  background-color: white;
}
.faq_edit-name-ru h3, .faq_edit-name-ru input {
  margin-left: 36px;
}
.faq_edit-answer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 80px;
  width: 88%;
}
.faq_edit-answer h4 {
  line-height: 2em;
}
.faq_edit-answer-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}
.faq_edit-answer-name h4 {
  width: 100%;
  cursor: pointer;
  padding: 2px;
  border: 1px solid #80BC00;
  border-radius: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.faq_edit-answer-name h4:hover {
  background-color: white;
}
.faq_edit-answer i {
  margin-left: 10px;
}

.request-body {
  width: 85%;
  padding: 2em;
  background-color: white;
  border: 1px solid #80BC00;
  border-radius: 25px;
  overflow: hidden;
}
.request-body button {
  float: right;
}

.image_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input_button {
  display: block;
  height: 25px;
  font-size: 15px;
  padding: 5px 30px 5px 30px;
  background-color: #80BC00;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin: 8px;
}
.input_button :focus {
  outline: -webkit-focus-ring-color auto 5px;
}

.fields input, .fields select {
  margin-right: 15px;
}

.successful {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.successful * {
  margin: 5px auto 5px auto;
}
.successful h5 {
  color: #B0B0B0;
}

.add-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 10px;
  margin: 15px 0 15px 0;
}
.add-field hr {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border: none;
  background-color: #80BC00;
  height: 1px;
}
.add-field button {
  font-size: 18px;
}
.add-field__button {
  border: none;
  color: #80BC00;
  background-color: #F6F6F6;
  padding: 0 2px 0 2px;
}
.add-field-faq {
  padding-left: 40px;
  width: 90%;
}

.green-color {
  color: #80BC00;
}

.ticket_number {
  width: 100%;
  line-height: 30px;
  background: #B0B0B0;
}
.ticket_number span {
  margin-left: 15px;
  margin-right: 15px;
}
.ticket_number a {
  margin-right: 10px;
}

.ticket_table {
  overflow-x: scroll;
  border: 1px solid #B0B0B0;
}
.ticket_table table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
.ticket_table thead {
  display: none;
}
.ticket_table tr {
  display: table-row;
}
.ticket_table tbody {
  display: table-row-group;
}
.ticket_table td {
  white-space: nowrap;
  text-align: left;
  padding: 5px 10px 5px 10px;
}
.ticket_table_date {
  color: black;
  text-decoration: underline;
}
.ticket_table_title {
  padding-left: 15px;
  padding-right: 8px;
  font-weight: bold;
}
.ticket_table_body {
  padding-left: 8px;
  color: gray;
}
.ticket_table_buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  margin-bottom: 25px;
}
.ticket_table_buttons span {
  margin-right: 8px;
  font-size: 16px;
  padding: 0.19em;
}
.ticket_table_buttons button {
  border: 1px solid #B0B0B0;
}
.ticket_table_buttons__small {
  font-size: 16px;
  margin-right: 8px;
  padding: 4px 4px 4px 4px;
  background-color: white;
}
.ticket_table_buttons__big {
  font-size: 22px;
  padding: 4px 4px 4px 4px;
  background-color: cornflowerblue;
  color: white;
  margin-right: 8px;
}

.white_colored {
  background: white;
}

@media only screen and (max-width: 1100px) {
  .grid-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 40% 2em 40%;
    grid-template-columns: repeat(2, 40%);
    grid-auto-rows: 150px;
    grid-column-gap: 2em;
    grid-row-gap: 1em;
  }

  .fields input {
    display: block;
  }
  .fields .last {
    margin-bottom: 3em;
  }
}
@media only screen and (max-width: 720px) {
  .grid-menu {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 90%;
    grid-template-columns: repeat(1, 90%);
    grid-auto-rows: 150px;
    grid-column-gap: 2em;
    grid-row-gap: 1em;
  }

  .widget-body {
    display: block;
  }
}