<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IT Support</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/assets/css/login-style.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Electrolize&display=swap" rel="stylesheet">
    <link rel="icon" href="/static/assets/img/favicon.ico">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>

</head>

<body>
<header class="header">
    <a href="/login">
        <img class="header_img" src="/static/assets/img/login.png" alt="IU logo" width="70">
    </a>
    <div>
        <a class="head" href="/login">Log in</a>
    </div>
</header>

<main>
    <div class="window" id="login">
        <div class="login">
            <div class="block-1">
                <span>IT Support</span>
            </div>
            <div class="block-2">

                <div class="txt_field">
                    <input v-model="loginField" required>
                    <span></span>
                    <label>User</label>
                </div>
                <div class="txt_field">
                    <input v-model="passwordField" type="password" required>
                    <span></span>
                    <label>Password</label>
                </div>
                <div class="block-3">
                    <button @click="createSession" value="Log In">Log In</button>
                    <span>INNOPOLIS UNIVERSITY</span>
                </div>

            </div>
        </div>
    </div>
</main>

</body>
<script src="/static/assets/js/login-script.js"></script>
</html>